<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="./css/main.css">
  <link rel="stylesheet" href="https://www.ft.com/__origami/service/build/v2/bundles/css?modules=o-table,o-forms,o-buttons,o-header-services,o-grid,o-header,o-teaser-collection,o-grid" />

  <title>FT.com</title>
</head>
<body>
  <header class="o-header" data-o-component="o-header" data-o-header--no-js="">
    <div class="o-header__row o-header__top">
      <div class="o-header__container">
        <div class="o-header__top-wrapper">
          <div class="o-header__top-column o-header__top-column--left">
            <a href="#o-header-drawer" class="o-header__top-link o-header__top-link--menu" aria-controls="o-header-drawer" title="Open drawer menu">
              <span class="o-header__top-link-label">Menu</span>
            </a>
            <a href="#o-header-search" class="o-header__top-link o-header__top-link--search" aria-controls="o-header-search-js" title="Open search bar">
              <span class="o-header__top-link-label">Search</span>
            </a>
          </div>
          <div class="o-header__top-column o-header__top-column--center">
            <a class="o-header__top-logo" href="/" title="Go to Financial Times homepage">
              <span class="o-header__visually-hidden">Financial Times</span>
            </a>
          </div>
          <div class="o-header__top-column o-header__top-column--right">
            <a class="o-header__top-link o-header__top-link--myft" href="https://www.ft.com/myft/following/07a7ce23-c656-4032-b5ed-91a3ea4abc7f" aria-label="My FT">
              <span class="o-header__visually-hidden">myFT</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div id="o-header-search" class="o-header__row o-header__search o--if-no-js" role="search">
      <div class="o-header__container">
        <form class="o-header__search-form" action="/" method="post" role="search" aria-label="Site search">
          <label class="o-header__visually-hidden" for="o-header-search-term">Search the <abbr title="Financial Times">FT</abbr></label>
          <input class="o-header__search-term" id="o-header-search-term" name="query" type="text" placeholder="Search the FT" required></input>
          <button class="o-header__search-submit" type="submit">
            Search
            <span class="o-header__visually-hidden">Search</span>
          </button>
        </form>
      </div>
    </div>
    <br><br><br>
    <div class="o-grid-container">
      <div class="o-grid-row">
        <div data-o-grid-colspan="one-half center">
          <div class="demo-container">
            <div style="width: 600px; height: 400px; overflow: scroll;" class="o-teaser-collection o-teaser-collection--horizontal demo-slim-collection">
              {{#if query}}
              <h2 class="o-teaser-collection__heading">Result for {{query}}</h2>
              {{/if}}
              <ul class="o-teaser-collection__items">
                <li class="o-teaser-collection__item">
                  {{#each queryResult.results}}
                  <h3 style="padding-right:16px;"><i>{{title.title}}</i></h3>
                  {{/each}}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  </html>
