<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="./css/main.css">
  <link rel="stylesheet" href="https://www.ft.com/__origami/service/build/v2/bundles/css?modules=o-table,o-forms,o-buttons,o-header-services,o-grid,o-header,o-teaser-collection,o-grid,o-ft-affiliate-ribbon,o-footer" />
  <link rel="icon" type="image/png"  sizes="32x32" href="https://www.ft.com/__assets/creatives/brand-ft/icons/v2/favicon-194x194.png" alt="FT logo">
  <title>FT.com</title>
</head>
<body>
  <header class="o-header" data-o-component="o-header" data-o-header--no-js="">
    <div class="o-header__row o-header__top">
      <div class="o-header__container">
        <div class="o-header__top-wrapper">
          <div class="o-header__top-column o-header__top-column--left">
            <a href="#o-header-drawer" class="o-header__top-link o-header__top-link--menu" aria-controls="o-header-drawer" title="Open drawer menu">
              <span class="o-header__top-link-label">Menu</span>
            </a>
          </div>
          <div class="o-header__top-column o-header__top-column--center">
            <a class="o-header__top-logo" href="/" title="Go to Financial Times homepage">
              <span class="o-header__visually-hidden">Financial Times</span>
            </a>
          </div>
          <div class="o-header__top-column o-header__top-column--right">
            <a class="o-header__top-link o-header__top-link--myft" href="https://www.ft.com/myft/following/07a7ce23-c656-4032-b5ed-91a3ea4abc7f" aria-label="My FT">
              <span class="o-header__visually-hidden">myFT</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="o-ft-affiliate-ribbon">
      <div class="o-ft-affiliate-ribbon__container">
        <div class="o-ft-affiliate-ribbon__row">
          <span><a href="http://markets.ft.com/data" class="markets-data__link" data-trackable="link" style="color:white">Visit Markets Data</a></span>
        </a>
      </div>
    </div>
  </div>
  <br>
  <div id="o-header-search" class="o-header__row o-header__search o--if-no-js" role="search">
    <form class="o-header__search-form" action="/" method="post" role="search" aria-label="Site search">
      <label class="o-header__visually-hidden" for="o-header-search-term">Search the <abbr title="Financial Times">FT</abbr></label>
      <input class="o-header__search-term" id="o-header-search-term" name="query" type="text" placeholder="Search the FT" required></input>
      <button class="o-header__search-submit" type="submit">
        Search
        <span class="o-header__visually-hidden">Search</span>
      </button>
    </form>
  </div>
  <br><br><br>
  <div class="o-grid-container">
    <div class="o-grid-row">
      <div data-o-grid-colspan="one-half center">
        <div class="demo-container">
          <div style="width: 600px; height: 400px; overflow: scroll;" class="o-teaser-collection o-teaser-collection--horizontal demo-slim-collection">
            {{#if query}}
            <h2 class="o-teaser-collection__heading">Result for {{query}}</h2>
            {{/if}}
            <ul class="o-teaser-collection__items">
              <li class="o-teaser-collection__item">
                {{#each queryResult.results}}
                <h3 style="padding-right:16px;"><i>{{title.title}}</i></h3>
                {{/each}}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="o-footer o-footer--theme-dark" data-o-component="o-footer" data-o-footer--no-js="">
    <div class="o-footer__container">

      <div class="o-footer__row">
        <nav class="o-footer__matrix" role="navigation" aria-label="Useful links">
          <div class="o-footer__matrix-group o-footer__matrix-group--1">
            <h6 class="o-footer__matrix-title">
              Support
            </h6>
            <div class="o-footer__matrix-content" id="o-footer-section-0">
              <div class="o-footer__matrix-column">
                <a class="o-footer__matrix-link" href="//www.ft.com/help">Help</a>
                <a class="o-footer__matrix-link" href="//www.ft.com/aboutus">About Us</a>
              </div>
            </div>
          </div>
          <div class="o-footer__matrix-group o-footer__matrix-group--1">
            <h6 class="o-footer__matrix-title">
              Legal &amp; Privacy
            </h6>
            <div class="o-footer__matrix-content" id="o-footer-section-1">
              <div class="o-footer__matrix-column">
                <a class="o-footer__matrix-link" href="//www.ft.com/servicestools/help/terms">Terms &amp; Conditions</a>
                <a class="o-footer__matrix-link" href="//www.ft.com/servicestools/help/privacy">Privacy</a>
                <a class="o-footer__matrix-link" href="//www.ft.com/cookiepolicy">Cookies</a>
                <a class="o-footer__matrix-link" href="//www.ft.com/servicestools/help/copyright">Copyright</a>
              </div>
            </div>
          </div>
          <div class="o-footer__matrix-group o-footer__matrix-group--2">
            <h6 class="o-footer__matrix-title" aria-controls="o-footer-section-2">
              Services
            </h6>
            <div class="o-footer__matrix-content" id="o-footer-section-2">
              <div class="o-footer__matrix-column">
                <a class="o-footer__matrix-link" href="//sub.ft.com/spa_5">Individual Subscriptions</a>
                <a class="o-footer__matrix-link" href="//enterprise.ft.com/en-gb/services/group-subscriptions/">Group Subscriptions</a>
                <a class="o-footer__matrix-link" href="//enterprise.ft.com/en-gb/services/republishing/">Republishing</a>
                <a class="o-footer__matrix-link" href="//www.businessesforsale.com/ft2/notices">Contracts &amp; Tenders</a>
                <a class="o-footer__matrix-link" href="//commerce.uk.reuters.com/purchase/mostPopular.do?rpc&amp;#x3D;471">Analysts Research</a>
              </div>
              <div class="o-footer__matrix-column">
                <a class="o-footer__matrix-link" href="//www.exec-appointments.com/">Executive Job Search</a>
                <a class="o-footer__matrix-link" aria-label="Advertise with the F T" href="//fttoolkit.co.uk/d/">Advertise with the FT</a>
                <a class="o-footer__matrix-link" aria-label="Follow the F T on Twitter" href="//twitter.com/ft">Follow the FT on Twitter</a>
              </div>
            </div>
          </div>
          <div class="o-footer__matrix-group o-footer__matrix-group--2">
            <h6 class="o-footer__matrix-title" aria-controls="o-footer-section-3">
              Tools
            </h6>
            <div class="o-footer__matrix-content" id="o-footer-section-3">
              <div class="o-footer__matrix-column">
                <a class="o-footer__matrix-link" href="//markets.ft.com/data/portfolio/dashboard">Portfolio</a>
                <a class="o-footer__matrix-link" href="//ftepaper.ft.com">Today's Paper</a>
                <a class="o-footer__matrix-link" href="//markets.ft.com/data/alerts/">Alerts Hub</a>
                <a class="o-footer__matrix-link" href="//lexicon.ft.com/">Lexicon</a>
                <a class="o-footer__matrix-link" href="//rankings.ft.com/businessschoolrankings/global-mba-ranking-2016">MBA Rankings</a>
              </div>
              <div class="o-footer__matrix-column">
                <a class="o-footer__matrix-link" href="//markets.ft.com/Research/Economic-Calendar">Economic Calendar</a>
                <a class="o-footer__matrix-link" href="//nbe.ft.com/nbe/profile.cfm">Newsletters</a>
                <a class="o-footer__matrix-link" href="//markets.ft.com/research/Markets/Currencies?segid&amp;#x3D;70113">Currency Converter</a>
                <a class="o-footer__matrix-link" aria-label="E-books" href="//www.ft.com/ebooks">Ebooks</a>
              </div>
            </div>
          </div>
        </nav>
        <h6 class="o-footer__external-link o-footer__matrix-title">
          <a class="o-footer__more-from-ft o-footer__matrix-title" href="http://ft.com/more-from-ft-group">More from the FT Group</a>
        </h6>
      </div>
      <div class="o-footer__copyright" role="contentinfo">
        <small>
          Markets data delayed by at least 15 minutes. &#xA9; THE FINANCIAL TIMES LTD 2017.
          <abbr title="Financial Times" aria-label="F T">FT</abbr> and &#x2018;Financial Times&#x2019; are trademarks of The Financial Times Ltd.<br></br>
          The Financial Times and its journalism are subject to a self-regulation regime under the <a href="http://aboutus.ft.com/en-gb/ft-editorial-code/" aria-label="F T Editorial Code of Practice">FT Editorial Code of Practice</a>.
        </small>
      </div>
    </div>
    <div class="o-footer__brand">
      <div class="o-footer__container">
        <div class="o-footer__brand-logo"></div>
      </div>
    </div>
  </footer>
</body>
</html>
